*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* #level-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
} */

h1 {
    text-align: center;
    color: #333;
}
.question {
    /* margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fafafa; */
    display: none;
}
.question h3 {
    margin-top: 0;
    color: #555;
}
.options label {
    display: block;
    margin-bottom: 8px;
    cursor: pointer;
}
.options input {
    margin-right: 10px;
}

